@using Zidium.Core.Common
@using Zidium.UserAccount.Models
@using Zidium.UserAccount.Models.Controls
@using Zidium.UserAccount.Models.Events

@model ErrorStatisticsModel

@{
    ViewBag.Title = "Ошибки" + (Model.Component != null ? " компонента" : string.Empty);
    ViewBag.ActiveMenuItems = "Events";
    var showNotProcessedCss = Model.Mode == ErrorStatisticsModel.ShowMode.NotProcessed ? "active" : "";
    var showAllCss = Model.Mode == ErrorStatisticsModel.ShowMode.All ? "active" : "";
}

<style>
    .my-label {
        font-weight: bold;
    }

    .event-type-name {
        font-weight: bold;
        color: black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .event-message {
        width: 100%;
        font-size: 14px;
        color: gray;
        padding-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .event-type-block {
        padding: 10px 10px;
    }

    .event-type-timeline .timeline-subcontainer {
        height: 10px;
    }

    .event-type-timeline-loader {
        height: 18px;
    }

    .event-type-table {
        width: 100%;
        table-layout: fixed;
    }

    .event-type-table-count-column {
        width: 70px;
    }

    .event-type-table-count {
        font-size: 18px;
    }

    .event-type-table-main-column {
        width: 100%;
    }

    .event-type-table-defect-column {
        width: 180px;
        text-align: right;
    }

    .no-errors {
        margin-top: 15px;
        font-size: 18px;
    }
</style>

<script src="~/Scripts/Controls/DefectControl.js"></script>

@Html.Partial("_PageTitle")

<div class="row" id="form-filter">
    <div class="col-sm-1 col-auto-width bottom10px">
        <label>Период</label>
        <div id="period-div">
            <div class="btn-group">
                <a id="time-selector-hour" onclick="ziReloadPage('period', 'hour', event)" href="#" class="btn btn-default">час</a>
                <a id="time-selector-day" onclick="ziReloadPage('period', 'day', event)" href="#" class="btn btn-default">день</a>
                <a id="time-selector-week" onclick="ziReloadPage('period', 'week', event)" href="#" class="btn btn-default">неделя</a>
                <a id="time-selector-month" onclick="ziReloadPage('period', 'month', event)" href="#" class="btn btn-default">месяц</a>
            </div>
        </div>
    </div>

    <div class="col-sm-1 col-auto-width bottom10px">
        <label>Компонент</label>
        <div style="width: 500px;">
            @Html.ComponentSelectorNew(m => m.ComponentId, new ComponentSelectorOptions()
       {
           AutoRefreshPage = true,
           AllowEmpty = true,
           ShowAsList = false,
           ShowComponentTypeSelector = false
       })
        </div>
    </div>

    <div class="col-sm-1 col-auto-width bottom10px">
        <label>Статус</label>
        <div>
            <div class="btn-group">
                <a href="#" class="btn btn-default @showNotProcessedCss" onclick="ziReloadPage('mode', '@ErrorStatisticsModel.ShowMode.NotProcessed', event)">Необработанные</a>
                <a href="#" class="btn btn-default @showAllCss" onclick="ziReloadPage('mode', '@ErrorStatisticsModel.ShowMode.All', event)">Все</a>
            </div>
        </div>
    </div>
</div>

@if (Model.EventTypeDatas.Count == 0)
{
    <p class="no-errors">Нет ошибок</p>
}
@foreach (var eventTypeData in Model.EventTypeDatas)
{
    var message = eventTypeData.Message;
    var period = TimelineInterval.Day;
    if (Model.Period == ReportPeriod.Hour)
    {
        period = TimelineInterval.Hour;
    }
    else if (Model.Period == ReportPeriod.Day)
    {
        period = TimelineInterval.Day;
    }
    else if (Model.Period == ReportPeriod.Week)
    {
        period = TimelineInterval.Week;
    }
    else if (Model.Period == ReportPeriod.Month)
    {
        period = TimelineInterval.Month;
    }
    <div class="event-type-block">
        <table class="event-type-table">
            <tr id="defect-row-@eventTypeData.EventType.Id">
                <td class="event-type-table-count-column">
                    <span class="badge alert-danger event-type-table-count" title="Ошибка случилась @eventTypeData.Count раз">@eventTypeData.Count</span>
                </td>
                <td class="event-type-table-main-column">
                    <div class="event-type-name" title="eventTypeData.EventType.DisplayName">
                        <a href="@Url.Action("Show", "EventTypes", new {id = eventTypeData.EventType.Id, period})">
                            @eventTypeData.EventType.DisplayName
                        </a>
                    </div>
                    @if (string.IsNullOrEmpty(message) == false)
                    {
                        <div class="event-message" title="@message">@message</div>
                    }
                    else
                    {
                        <div class="event-message">Нет сообщения</div>
                    }
                </td>
                <td class="event-type-table-defect-column">
                    @Html.Partial("~/Views/Defects/DefectControl.cshtml", eventTypeData.DefectControl)
                </td>
            </tr>
        </table>
        <div class="event-type-timeline"
             data-url='@Url.Action("ForEventTypeAnyComponentsByInterval", "Timeline", new { eventTypeId = eventTypeData.EventType.Id, interval = period, hideUptime = true })'>
            <img src="~/Content/Icons/ajax-loader.gif" class="event-type-timeline-loader" />
        </div>
    </div>
}

<script>
    $(function () {
        @if (Model.Period == ReportPeriod.Hour)
        {
            <text>$("#time-selector-hour").addClass("active");</text>
        }
        else if (Model.Period == ReportPeriod.Day)
        {
            <text>$("#time-selector-day").addClass("active");</text>
        }
        else if (Model.Period == ReportPeriod.Month)
        {
            <text>$("#time-selector-month").addClass("active");</text>
        }
        else if (Model.Period == ReportPeriod.Week)
        {
            <text>$("#time-selector-week").addClass("active");</text>
        }

        $.each($('.event-type-timeline'), function (index, element) {
            var url = $(element).data('url');
            $(element).load(url);
        });
    });
</script>