@using Zidium.Core.Common
@using Zidium.UserAccount.Helpers

@model Zidium.UserAccount.Models.Events.WormyApplicationsModel

@{
    ViewBag.Title = "Проблемные компоненты";
    ViewBag.ActiveMenuItems = "Components,Wormy";
}

<link href="/Css/Controls/SimpleBarChar.css" rel="stylesheet" />
<link href="/Css/Controls/OneLineSausageChar.css" rel="stylesheet" />

<style>
    .my-label {
        font-weight: bold;
    }
     #components-table th {
        padding: 5px 10px;
    }
    #components-table td {
        padding: 5px 10px;
    }
</style>

@Html.Partial("_PageTitle")

<table>
    <tr>
        <td>
            <p class="my-label">Период</p>
            <div id="period-div">
                <div class="btn-group">
                    <a id="time-selector-hour" onclick="ziReloadPage('period', 'hour', event)" href="#" class="btn btn-default">час</a>
                    <a id="time-selector-day" onclick="ziReloadPage('period', 'day', event)" href="#"class="btn btn-default">день</a>
                    <a id="time-selector-week" onclick="ziReloadPage('period', 'week', event)" href="#"class="btn btn-default">неделя</a>
                    <a id="time-selector-month" onclick="ziReloadPage('period', 'month', event)" href="#" class="btn btn-default">месяц</a>
                </div>
            </div>
        </td>
        <td style="padding-left: 50px;">
            <p class="my-label">Тип компонента</p>
            @Html.ComponentTypeSelector("ComponentTypeId", null, true, true)
        </td>
        <td style="padding-left: 50px;">
            <p class="my-label">TOP</p>
            @Html.DropDownList("top", DropDownListHelper.GetIntegers(Model.Top, new[] {10, 50, 100, 200, 500, 1000}), new {@class="form-control"})
        </td>
    </tr>
</table>

@*<p class="my-label" style="margin-top: 30px;">Результат</p>*@

<div style="margin-top: 30px;"></div>
@if (Model.Applications.Length == 0)
{
    <p>Нет ошибок</p>
}
else
{
    <table id="components-table">
        <tr>
            <th>Ошибок</th>
            <th>Компонент</th>
        </tr>
        @foreach (var application in Model.Applications)
        {
            var url = Url.Action("ErrorStatictics", new
            {
                componentId = application.Component.Id,
                period = Model.PeriodRange.Period.ToString()
            });
            <tr>
                <td style="text-align: right">
                    <a href="@url">
                        <span class="badge alert-danger" style="font-size: 14px;">@application.Errors</span>
                    </a>
                </td>
                <td>@Html.PartialComponentBreadCrumbs(application.Component.Id, Model.Storage)</td>
            </tr>
        }
    </table>
}


<script>
    $(function () {

        $("#top").change(function() {
            var value = this.value;
            ziReloadPage("top", value);
        });


        @if (Model.PeriodRange.Period == ReportPeriod.Hour)
        {
            <text>$("#time-selector-hour").addClass("active");</text>
        }
        else if (Model.PeriodRange.Period == ReportPeriod.Day)
        {
            <text>$("#time-selector-day").addClass("active");</text>
        }
        else if (Model.PeriodRange.Period == ReportPeriod.Month)
        {
            <text>$("#time-selector-month").addClass("active");</text>
        }
        else if (Model.PeriodRange.Period == ReportPeriod.Week)
        {
            <text>$("#time-selector-week").addClass("active");</text>
        }
    });
</script>

@section Scripts
{
    @Scripts.Render("~/Scripts/AllControls")
}