@using Zidium.Core.Common.Helpers
@using Zidium.UserAccount.Helpers

@model Zidium.UserAccount.Models.ComponentTreeDetails.ComponentDetailsLogModel

<style>
    .log-details-btn {
        display: block;
        height: 16px;
        width: 16px;
        background: url("/Content/css-treeview.png") no-repeat;
        background-position: 0 0px;
    }

    .log-details-opened {
        background-position: -16px 0px !important;
    }

    .log-details-row td {
        border-top: 0 !important;
    }

    #log-table {
        width: 100%;
        table-layout: fixed;
    }

        #log-table .log-message-cell {
            overflow-x: hidden;
            overflow-y: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #log-table .log-message {
            word-break: break-all;
        }
</style>

<div id="component-logs-wrapper">
    <a href="@Url.Action("Index", "Logs", new{componentId = Model.ComponentId})"
       class="btn btn-default">Открыть</a>
    <div style="margin-top: 10px;">
        @if (Model.Messages.Length == 0)
        {
            <p>Нет записей лога</p>
        }
        else
        {
            <p>Последние 10 записей:</p>
            <table id="log-table" class="simpleTable">
                @foreach (var message in Model.Messages)
                {
                    var css = GuiHelper.GetLogLevelTextCssClass(message.Level);
                    <tr data-message-id="@message.Id">
                        <td style="width: 16px; padding: 0">
                            @if (message.HasProperties)
                            {
                                <a href="#" class="log-details-btn"></a>
                            }
                        </td>
                        <td style="width: 150px;">
                            <span class="@css" style="white-space: nowrap;">@DateTimeHelper.GetRussianDateTime(message.Time)</span>
                        </td>
                        <td class="log-message-cell">
                            <span class="log-message @css">@message.Message</span>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

<script>
    $("#log-table .log-details-btn").click(function(event) {
        event.preventDefault();
        var btn = $(this);
        var tr = btn.closest("tr");
        var messageId = tr.data("message-id");
        if (btn.hasClass("log-details-opened")) {
            // нужно закрыть
            var detailtRow = tr.next();
            detailtRow.remove();
            btn.removeClass("log-details-opened");
        } else {
            // нужно открыть
            btn.addClass("log-details-opened");
            var detailsRow = $("<tr class='log-details-row'><td colspan='3'><img src='/content/icons/ajax-loader-white.gif'/></td></tr>");
            tr.after(detailsRow);
            detailsRow = tr.next();
            var url = '@Url.Action("ShowTable", "ExtentionProperties")';
            var data = { logId: messageId };
            $("td", detailsRow).load(url, data);
        }
    });
</script>