@using Zidium.Core.Common.Helpers
@model Zidium.UserAccount.Models.ComponentTreeDetails.ComponentDetailsInfoModel
<div id="component-info-wrapper">
    <p>
        <span class="simple-text-header">Id: </span>
        <span class="simple-text-value">@Model.ComponentId</span>
    </p>
    <p>
        <span class="simple-text-header">Системное имя: </span>
        <span class="simple-text-value">@Model.SystemName</span>
    </p>
    <p>
        <span class="simple-text-header">Тип компонента: </span>
        <a href="@Url.Action("Show", "ComponentTypes", new {id = Model.TypeId})">@Model.TypeName</a>
    </p>
    <p>
        <span class="simple-text-header">Дата создания: </span>
        <span class="simple-text-value">@DateTimeHelper.GetRussianDateTime(Model.CreateTime)</span>
    </p>
</div>