@using Zidium.UserAccount.Models.ComponentTreeDetails
@model ComponentDetailsModel

<div id="object-details-caption">
    <a href="@Url.Action("Show", "Components", new { id = Model.Id })" target="_blank" class="text-normal">@Model.Name</a>

    @if (Model.CanEdit)
    {
        <a href="@Url.Action("Edit", "Components", new {id = Model.Id})" target="_blank" class="text-muted" id="edit-object-link" title="Настроить компонент">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    }

    <a href="#" id="update-panel-link" class="text-muted" title="Обновить данные">
        <span class="glyphicon glyphicon-refresh"></span>
    </a>
</div>

<hr />

<div id="component-details-accordion" class="accordion">
    <div class="accordion-group" id="component-details-state">
        <div class="accordion-group-caption">
            <a href="#">Текущее состояние</a>
        </div>
        <div class="accordion-group-content collapse">
            <div class="smart-block" data-url="@Url.Action("ComponentDetailsState", new { id = Model.Id })"></div>
        </div>
    </div>

    <div class="accordion-group" id="component-details-history">
        <div class="accordion-group-caption">
            <a href="#">История</a>
        </div>
        <div class="accordion-group-content collapse">
            <div class="smart-block" data-url="@Url.Action("ComponentDetailsHistory", new { id = Model.Id })"></div>
        </div>
    </div>

    <div class="accordion-group" id="component-details-unittests">
        <div class="accordion-group-caption">
            <a href="#">Проверки</a>
        </div>
        <div class="accordion-group-content collapse">
            <div class="smart-block" data-url="@Url.Action("ComponentDetailsUnittests", new { id = Model.Id })"></div>
        </div>
    </div>

    <div class="accordion-group" id="component-details-events">
        <div class="accordion-group-caption">
            <a href="#">Ошибки</a>
        </div>
        <div class="accordion-group-content collapse">
            <div class="smart-block" data-url="@Url.Action("ComponentDetailsEvents", new { id = Model.Id })"></div>
        </div>
    </div>

    <div class="accordion-group" id="component-details-metrics">
        <div class="accordion-group-caption">
            <a href="#">Метрики</a>
        </div>
        <div class="accordion-group-content collapse">
            <div class="smart-block" data-url="@Url.Action("ComponentDetailsMetrics", new { id = Model.Id })"></div>
        </div>
    </div>

    <div class="accordion-group" id="component-details-logs">
        <div class="accordion-group-caption">
            <a href="#">Лог</a>
        </div>
        <div class="accordion-group-content collapse">
            <div class="smart-block"
                 data-config="component-details-log"
                 data-url="@Url.Action("ComponentDetailsLog", new { id = Model.Id })"></div>
        </div>
    </div>

    <div class="accordion-group" id="component-details-subscriptions">
        <div class="accordion-group-caption">
            <a href="#">Подписки</a>
        </div>
        <div class="accordion-group-content collapse">
            <div class="smart-block"
                 data-config="component-subscriptions"
                 data-url="@Url.Action("ShowComponentSubscriptions", "Subscriptions", new {ComponentId = Model.Id})">
            </div>
        </div>
    </div>

    <div class="accordion-group" id="component-details-info">
        <div class="accordion-group-caption">
            <a href="#">Информация</a>
        </div>
        <div class="accordion-group-content collapse">
            <div class="smart-block"
                 data-url="@Url.Action("ComponentDetailsInfo", new {id = Model.Id})">
            </div>
        </div>
    </div>

</div>