@using Zidium.UserAccount.Models.ComponentTreeDetails
@model UnittestDetailsModel

<div id="object-details-caption">
    <a href="@Url.Action("ResultDetails", "Unittests", new { id = Model.Id })" target="_blank" class="text-normal">@Model.Name</a> 
    
    @if (Model.CanEdit)
    {
        <a href="@Url.Action("Edit", "Checks", new {id = Model.Id})" target="_blank" class="text-muted" id="edit-object-link" title="Настроить проверку">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    }      
    
    <a href="#" id="update-panel-link" class="text-muted" title="Обновить данные">
        <span class="glyphicon glyphicon-refresh"></span>
    </a>
</div>

<hr />

<div id="unittest-details-accordion" class="accordion">
    <div class="accordion-group" id="unittest-details-state">
        <div class="accordion-group-caption">
            <a href="#">Текущее состояние</a>
        </div>
        <div class="accordion-group-content collapse">
            <div class="smart-block" data-url="@Url.Action("UnittestDetailsState", new { id = Model.Id })"></div>
        </div>
    </div>
          
    <div class="accordion-group" id="unittest-details-settings">
        <div class="accordion-group-caption">
            <a href="#">Настройки</a>
        </div>
        <div class="accordion-group-content collapse">
            <div class="smart-block" data-url="@Url.Action("UnittestDetailsSettings", new { id = Model.Id })"></div>
        </div>
    </div>

    <div class="accordion-group" id="unittest-details-history">
        <div class="accordion-group-caption">
            <a href="#">История</a>
        </div>
        <div class="accordion-group-content collapse">
            <div class="smart-block" data-url="@Url.Action("UnittestDetailsHistory", new { id = Model.Id })"></div>
        </div>
    </div>
    
    <div class="accordion-group" id="unittest-details-results">
        <div class="accordion-group-caption">
            <a href="#">Результаты</a>
        </div>
        <div class="accordion-group-content collapse">
            <div class="smart-block" data-url="@Url.Action("UnittestDetailsResults", new { id = Model.Id })"></div>
        </div>
    </div>

</div>
