@using Zidium.Core.AccountsDb
@using Zidium.Core.Common.Helpers

@model Zidium.UserAccount.Models.ComponentTreeDetails.UnittestDetailsSettingsModel

<div class="row">
    <div class="col-sm-6">
        <p>
            <span class="simple-text-header">Тип проверки</span><br />
            <span class="simple-text-value">@Model.TypeName</span>
        </p>

        <p>
            <span class="simple-text-header">Название</span><br />
            <span class="simple-text-value">@Model.Name</span>
        </p>
    </div>
    <div class="col-sm-6">
        @if (Model.IsSystem)
        {
            <p>
                <span class="simple-text-header">Период опроса</span><br />
                <span class="simple-text-value">@(Model.ExecutionInterval != null ? TimeSpanHelper.GetOneUnitString(Model.ExecutionInterval.Value) : "нет")</span>
            </p>
        }
        else
        {
            <p>
                <span class="simple-text-header">Интервал актуальности</span><br />
                <span class="simple-text-value">@(Model.ActualInterval != null ? TimeSpanHelper.GetOneUnitString(Model.ActualInterval.Value) : "нет")</span>
            </p>
        }
        <p>
            <span class="simple-text-header">Цвет, если нет сигнала</span><br />
            @Html.ObjectColorIcon(Model.NoSignalColor)
        </p>
    </div>
</div>




@if (Model.TypeId == SystemUnitTestType.HttpUnitTestType.Id)
{
    <p>
        <span class="simple-text-header">Http-запрос</span><br />
        <a target="_blank" href="@Model.HttpUrl">@Model.HttpUrl</a>
    </p>
    <p>
        <span class="simple-text-header">Таймаут</span><br />
        <span class="simple-text-value">@TimeSpanHelper.GetOneUnitString(Model.HttpTimeout)</span>
    </p>
}
else if (Model.TypeId == SystemUnitTestType.PingTestType.Id)
{
    <p>
        <span class="simple-text-header">Хост</span><br />
        <span class="simple-text-value">@Model.PingHost</span>
    </p>
    <p>
        <span class="simple-text-header">Таймаут</span><br />
        <span class="simple-text-value">@TimeSpanHelper.GetOneUnitString(Model.PingTimeout)</span>
    </p>
}
else if (Model.TypeId == SystemUnitTestType.DomainNameTestType.Id)
{
    <p>
        <span class="simple-text-header">Домен</span><br />
        <span class="simple-text-value">@Model.DomainName</span>
    </p>
}
else if (Model.TypeId == SystemUnitTestType.VirusTotalTestType.Id)
{
    <p>
        <span class="simple-text-header">Url ресурса</span><br />
        <a target="_blank" href="@Model.HttpUrl">@Model.HttpUrl</a>
    </p>
}
else if (Model.TypeId == SystemUnitTestType.SslTestType.Id)
{
    <p>
        <span class="simple-text-header">Сайт</span><br />
        <a target="_blank" href="@Model.SslHost">@Model.SslHost</a>
    </p>
}
else if (Model.TypeId == SystemUnitTestType.SqlTestType.Id)
{
    <p>
        <span class="simple-text-header">Sql-запрос</span><br />
        <span class="simple-text-value text-wordbreak">@Model.SqlQuery</span>
    </p>
}
else if (Model.TypeId == SystemUnitTestType.TcpPortTestType.Id)
{
    <p>
        <span class="simple-text-header">Хост</span><br />
        <span class="simple-text-value">@Model.PingHost</span>
    </p>
    <p>
        <span class="simple-text-header">Порт tcp</span><br />
        <span class="simple-text-value">@Model.TcpPort</span>
    </p>
}

<p>
    <span class="simple-text-header">ID проверки</span><br />
    <span class="simple-text-value">@Model.Id</span>
</p>