@using Zidium.UserAccount.Helpers

@model Zidium.UserAccount.Models.HttpRequestCheckModels.EditModel

@{
    ViewBag.Title = (Model.Id.HasValue ? "Настройка" : "Добавление") + " http-проверки";
}

<style>
    #requestsTable td {
        vertical-align: top;
    }

    .webFormsData td {
        padding-left: 10px;
    }
</style>

@Html.Partial("_PageTitle")

<form class="form-horizontal" method="POST" id="myForm">
    @Html.Partial("~/Views/Checks/EditCheckCommonSettings.cshtml", Model)

    <p class="pageHeader1">Настройки запроса</p>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.RequiredLabelFor(x => x.Method)
                    @Html.DropDownListFor(x => x.Method, Model.GetMethodItems(), new { @class = "form-control" })
                </div>
                <div class="col-sm-8">
                    @Html.RequiredLabelFor(x => x.Url)
                    @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    @Html.RequiredLabelFor(x => x.TimeOutSeconds)
                    @Html.TextBoxFor(x => x.TimeOutSeconds, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    @Html.LabelFor(x => x.Body)
                    @Html.TextAreaFor(x => x.Body, new { @class = "form-control" })
                </div>
            </div>

            <div style="margin-top: 20px;">
                @Html.KeyValueTable(x => x.RequestHeaders, "Добавить HTTP-заголовок")
            </div>
            <div style="margin-top: 30px;">
                @Html.KeyValueTable(x => x.WebFormDatas, "Добавить данные веб-формы")
            </div>
            <div style="margin-top: 30px;">
                @Html.KeyValueTable(x => x.RequestCookies, "Добавить cookie")
            </div>
        </div>
        </div>

    <p class="pageHeader1">Настройки ответа</p>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.RequiredLabelFor(x => x.ResponseCode)
                    @Html.TextBoxFor(x => x.ResponseCode, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    @Html.LabelFor(x => x.SuccessHtml)
                    @Html.TextAreaFor(x => x.SuccessHtml, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    @Html.LabelFor(x => x.ErrorHtml)
                    @Html.TextAreaFor(x => x.ErrorHtml, new { @class = "form-control" })
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</form>

@section Scripts
{
    @Scripts.Render("~/Scripts/AllControls")
}
