@using Zidium.UserAccount.Helpers
@model Zidium.UserAccount.Models.Controls.ColorCircleWithNumberModel 

@{
    Layout = null;
    var bgColorCss = GuiHelper.GetStrongBgColorCss(Model.Color);
}

<div class="colorCircleWithValue">
    @if (Model.Value > 0)
    {
        var style = "color: white; font-size: " + (Model.FontSizePx.HasValue ? Model.FontSizePx + "px" : "inherit");
        <span class='badge @bgColorCss' >
            @if (string.IsNullOrEmpty(Model.Url))
            {
                <span style="@style">@Model.Value</span>
            }
            else
            {
                <a style="@style" href='@Model.Url' class="@Model.CssClass">@Model.Value</a>
            }
        </span>
    }
    else
    {
        var style = "color: gray; font-size: " + (Model.FontSizePx.HasValue ? Model.FontSizePx + "px" : "inherit");
        <span style="@style">0</span>
    }
</div>

