@using Zidium.UserAccount.Controllers
@using Zidium.UserAccount.Helpers
@using Zidium.UserAccount.Models
@model DateSelectorModel

@{
    var dateValue = Model.Date.HasValue ? Model.Date.Value.ToString(GuiHelper.DateTimeDisplayFormat) : string.Empty;
    var textboxId = "textbox_" + Model.Name;
}

<div class='input-group date'>
    <input type='text' class="form-control" id="@textboxId" data-inputmask="'mask': '99.99.9999 99:99:99'"
           value='@(dateValue)'
           data-filter='@(!Model.HideWhenFilter ? "true" : "false")'
           data-filter-param-id='@Model.Name' />

    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>

@if (Model.Expression != null && Model.HtmlHelper != null)
{
    @Model.HtmlHelper.HiddenFor(Model.Expression, new { id = Model.Name })
}
else
{
    @Html.Hidden(Model.Name, string.Empty, new { id = Model.Name })
} 

<script type="text/javascript">
    $(function () {
        var control = $('#@textboxId');
        var hidden = $('#@Model.Name');
        var dateSelector = new DateSelector(control, hidden,
            '@BaseController.MomentDateTimeDisplayFormat', '@BaseController.MomentDateTimeParamFormat', function () {
                if ('@Model.AutoRefreshPage.ToString()' == 'True') {
                    document.location.href = SetQueryParamFromControlExact(document.location.href, control, '@Model.Name');
                }
            });
    });
</script>