@using Zidium.Api.Dto
@using Zidium.UserAccount.Helpers
@using Zidium.UserAccount.Models
@model EventTypeSelectorModel

@{
    var textBoxName = Model.Name + "_Text";
    var divName = Model.Name + "_Div";
}

<div style="width: 100%; position: relative;" class="dropdown">

    @Html.TextBox(textBoxName, null, new { id = textBoxName, @class = "form-control" })

    @if (Model.Expression != null)
    {
        @Model.HtmlHelper.HiddenFor(Model.Expression, new { id = Model.Name, data_toggle = "dropdown", data_filter = !Model.HideWhenFilter ? "true" : "false" })
    }
    else
    {
        @Html.Hidden(Model.Name, null, new { id = Model.Name, data_toggle = "dropdown", data_filter = !Model.HideWhenFilter ? "true" : "false" })
    }

    <div class="dropdown-menu" id="@divName" style="width: 100%; padding: 0; margin: 0; padding-top: 5px;">
         
        @if (Model.ShowEventCategory)
        {
            <div class="clearfix">
                <div class="col-xs-12" style="margin-bottom: 10px;">
                    @Html.Label("Категория")
                    @Html.EnumSelector(Model.Name + "_category", null, typeof (EventCategory?), false, true)
                </div>
            </div>
        }
        
        <div id="loading" style="display: none;" class="clearfix">
            <div class="col-sm-12" style="margin-bottom: 10px;">
                <img src="/Content/Icons/ajax-loader.gif" style="margin-right: 10px;" />
                <span>Обновление...</span>
            </div>
        </div>

        @{
            var url = Url.Action("GetEventTypesMiniList", "EventTypes");
        }

        <div class="clearfix">
            <div class="col-sm-12">
                <div id="eventtypes"
                     data-url='@url'
                     style="overflow: auto; margin-top: 5px; max-height: 300px; display: none;">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            var hidden = $('#@Model.Name');
            var textBox = $('#@textBoxName');
            var div = $('#@divName');
            var value = '@(Model.EventTypeId.HasValue ? Model.EventTypeId.Value.ToString() : string.Empty)';
            if (value.length == 0)
                value = null;
            var allowEmpty = '@Model.AllowEmpty.ToString()' == 'True';
            var selector = new EventTypeSelector(hidden, textBox, div, value, '@Model.EventTypeName', function () {
                if ('@Model.AutoRefreshPage.ToString()' == 'True') {
                    document.location.href = SetQueryParamFromControl(document.location.href, hidden);
                }
            }, allowEmpty, '@Model.Name');
            @if (Model.ExternalEventCategorySelectId != null)
            {
            <text>
            selector.externalEventCategorySelectorId = '@Model.ExternalEventCategorySelectId';
            </text>    
            }
        });
    </script>

</div>
