@model Zidium.UserAccount.Models.Controls.MonitoringStatusModel
@if (Model.StatusEventId.HasValue)
{
    <a href='@Url.Action("Show", "Events", new { id = Model.StatusEventId })' class="monitoring-status-link">
        <span class="@Model.GetCssClass()" style="font-size: @(Model.FontSize)px; font-weight: normal;">@(Model.Text ?? Model.Status.ToString())</span>
    </a>
}
else
{
    <span class="@Model.GetCssClass()" style="font-size: @(Model.FontSize)px; font-weight: normal;">@(Model.Text ?? Model.Status.ToString())</span>
}