@model Zidium.UserAccount.Models.Controls.ObjectStatusModel
@if (Model.Url == null)
{
    <span class="@Model.CssClass" style="font-size: @(Model.FontSize)px; font-weight: normal;">@Model.Text</span>
}
else
{
    <a href='@Model.Url' class="monitoring-status-link">
        <span class="@Model.CssClass" style="font-size: @(Model.FontSize)px; font-weight: normal;">@Model.Text</span>
    </a>
}