@model Zidium.UserAccount.Models.LostPasswordModel

@{
    ViewBag.Title = "Восстановление пароля";
    ViewBag.NoMenu = true;
}

<style>
    .smart-col-labels {
        min-width: 170px;
    }
</style>

<legend>@ViewBag.Title</legend>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="smart-container">
        <div class="smart-row">
            <div class="smart-col-labels smart-col-empty"></div>
            <div class="smart-col-fields">
                @Html.ValidationSummary(true)
            </div>
        </div>
        
        <div class="smart-row">
            <div class="smart-col-labels">
                @Html.LabelFor(m => m.Login, new { @class = "control-label" })
            </div>
            <div class="smart-col-fields">
                <div class="smart-subcol">
                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.Login, null, "p")
                </div>
            </div>
        </div>

        <div class="smart-row">
            <div class="smart-col-labels smart-col-empty"></div>
            <div class='smart-col-fields'>
                <button type="submit" class="btn btn-primary smart-button">Восстановить</button>
            </div>
        </div>
    </div>
}
