@using Zidium.UserAccount.Helpers
@model Zidium.UserAccount.Models.SetPasswordModel

@{
    ViewBag.Title = "Установите новый пароль";
}

<legend>@ViewBag.Title</legend>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TokenId)
    @Html.HiddenFor(m => m.AccountId)
    @Html.HiddenFor(m => m.UserName)

    <div class="smart-container">
        <div class="smart-row">
            <div class="smart-col-labels smart-col-empty"></div>
            <div class="smart-col-fields">
                @Html.MyValidationSummary(true)
            </div>
        </div>

        <div class="smart-row">
            <div class="smart-col-labels">
                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
            </div>
            <div class="smart-col-fields">
                <p class="form-control-static">@Model.UserName</p>
            </div>
        </div>

        <div class="smart-row">
            <div class="smart-col-labels">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            </div>
            <div class="smart-col-fields">
                <div class="smart-subcol">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.Password, null, "p")
                </div>
            </div>
        </div>

        <div class="smart-row">
            <div class="smart-col-labels">
                @Html.LabelFor(m => m.PasswordConfirmation, new { @class = "control-label" })
            </div>
            <div class="smart-col-fields">
                <div class="smart-subcol">
                    @Html.PasswordFor(m => m.PasswordConfirmation, new { @class = "form-control" })
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.PasswordConfirmation, null, "p")
                </div>
            </div>
        </div>

        <div class="smart-row">
            <div class="smart-col-labels smart-col-empty"></div>
            <div class="smart-col-fields">
                <input type="submit" value="Изменить пароль" class="btn btn-primary" />
            </div>
        </div>

    </div>
}