@model Zidium.UserAccount.Models.ComponentHistory.ComponentsTreeItemModel

@if (Model != null)
{
    if (Model.IsRoot)
    {
        @Html.Raw("<ul>")
    }

    <li style="white-space: nowrap;" data-id="@Model.Id">

        <input type="checkbox" class="components-tree-item-checkbox components-tree-item-checkbox-component" id='@Model.Id' @(Model.Expanded ? "checked" : string.Empty) />
        
        <div>
            @Html.ActionLink(Model.Path, "Show", "Components", new { id = Model.Id }, null)
            <span>&mdash; @(Model.OkTime)%</span>
            <label for='@Model.Id' class="components-tree-timeline-label"></label>
        </div>

        <div class="components-tree-timeline-main">
            @Html.Partial("~/Views/Timeline/TimelinePartial.cshtml", Model.Timeline)
        </div>

        <div class="components-tree-item-content">
            @if (Model.Content != null)
            {
                @Html.Partial("ComponentsTreeElementContent", Model.Content)
            }
            else
            {
                <div class="components-tree-item-content-loading">
                    <img src="~/Content/Icons/ajax-loader-white.gif" />
                    <span>Загрузка...</span>
                </div>
            }
        </div>
    </li>

    if (Model.IsRoot)
    {
        @Html.Raw("</ul>")
    }
}