@using Zidium.UserAccount.Helpers
@model Zidium.UserAccount.Models.ComponentTree.ComponentsMiniTreeItemModel

@if (Model != null)
{
    if (Model.IsRoot)
    {
        @Html.Raw("<ul>")
    }
    
    <li style="white-space: nowrap; margin-bottom: 10px;"
        data-componenttype='@Model.ComponentTypeId.ToString()'
        data-status='@Model.Status.ToString()'
        data-name='@Model.NameForSearch'>

        <input type="checkbox" id='@Model.Id.ToString()' @(Model.IsRoot ? "checked" : string.Empty) />

        @if (Model.Childs.Count > 0)
        {
            <label for='@Model.Id.ToString()'></label>
        }
        else
        {
            <label></label>
        }

        @{
            var linkClass = GuiHelper.GetComponentStatusTextCssClass(Model.Status);
            var fullName = Model.DisplayName;
        }

        <span style="padding-left: 7px; padding-right: 7px; display: table-cell;">
            @Html.MonitoringStatusIcon(Model.Status)
        </span>
        <div style="display: table-cell;">
            <a data-id='@Model.Id.ToString()' data-full-name='@Model.FullName' class="@linkClass" style="cursor: pointer;">@fullName</a>
        </div>

        @if (Model.Childs.Count > 0)
        {
            <ul style="margin-top: 10px;">
                @foreach (var child in Model.Childs)
                {
                    @Html.Partial("ComponentsMiniTreeElement", child)
                }
            </ul>
        }
    </li>
    
    if (Model.IsRoot)
    {
        @Html.Raw("</ul>")
    }
}