@using Zidium.UserAccount.Helpers
@model Zidium.UserAccount.Models.UserContactModel

@if (Model.ModalMode)
{
    Layout = "~/Views/Shared/_ModalDlgLayout.cshtml";
}

@{
    ViewBag.Title = "Добавление контакта";
    ViewBag.ActiveMenuItems = "Manage,Users";
}

<style>
    #form-add-contact .smart-col-labels {
        min-width: 50px;
    }
</style>

@if (!Model.ModalMode)
{
    @Html.Partial("_PageTitle")
}

@if (Model.ModalMode)
{
    Ajax.BeginForm(new AjaxOptions() { InsertionMode = InsertionMode.InsertBefore, UpdateTargetId = "contactstablebody", OnSuccess = "HideModal" });
}
else
{
    Html.BeginForm();
}

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
@Html.HiddenFor(m => m.UserId)
@Html.HiddenFor(model => model.ModalMode)
@Html.HiddenFor(model => model.ReturnUrl)
@Html.HiddenFor(model => model.CommonWebsiteUrl)

<div class="smart-container" id="form-add-contact">
    @{
        var form = Html.GetFormBuilder(Model);
    }

    @form.GroupFor(m => m.Type).DropDownList(GuiHelper.GetUserContactTypeItems(Model.Type, false)).Partial()
    @form.GroupFor(m => m.Value).TextBox().Partial()

    @form.Group("").Control(@<text>
        <a href='@(Model.CommonWebsiteUrl + "/wiki/how-to/subscriptions/messangers")' target="_blank">
            Как настроить отправку через мессенджеры?
        </a>
    </text>).Partial()

    @if (!Model.ModalMode)
    {
        @form.Group("Submit").Control(@<text>
            <button type="submit" class="btn btn-primary">Добавить</button>
            <a class="btn btn-default" href="@Model.ReturnUrl">Отмена</a>
        </text>).Partial()
    }
</div>

@if (Model.ModalMode)
{
    <hr />
    <div class="text-right top10px">
        <button type="submit" class="btn btn-primary">Добавить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
    </div>
}

@{Html.EndForm();}
