@using GridMvc.Html
@using GridMvc.Sorting
@using Zidium.UserAccount.Helpers

@model Zidium.UserAccount.Models.MetricTypes.ListModel

@{
    ViewBag.Title = "Типы метрик";
    ViewBag.ActiveMenuItems = "Metrics,MetricTypes";
}

@section Styles
{
    @Styles.Render("~/Content/GridMvc")
} 

@Html.Partial("_PageTitle")

@if (UserHelper.CurrentUser.CanEditCommonData())
{
    @Html.ActionLink("Добавить", "Edit", null, new {@class = "btn btn-primary"})
}

<div class="smart-container" style="margin-top: 20px;">
    <div class="smart-row">
        <div class="smart-col-fields">
            @Html.TextFilter("search", "Поиск - введите часть названия", Model.Search, true)
        </div>
    </div>
</div>

@Html.Grid(Model.Items).Columns(columns =>
{
    columns
        .Add(m => m.SystemName)
        .Titled("Системное название")
        .RenderValueAs(m => Html.ActionLink(m.SystemName, "Show", new { id = m.Id }))
        .Encoded(false)
        .Sanitized(false)
        .SortInitialDirection(GridSortDirection.Ascending);
    
    columns
        .Add()
        .Titled(string.Empty)
        .RenderValueAs(m =>
             @<text>
            <a href='@Url.Action("Values", "Metrics", new{metricTypeId = m.Id})' title="Текущие значения">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
              </text>)
        .Encoded(false)
        .Sanitized(false)
        .Css("text-center")
        .SetWidth(30);

    if (UserHelper.CurrentUser.CanEditCommonData())
    {
        columns
            .Add()
            .Titled(string.Empty)
            .RenderValueAs(m =>
                @<text>
                    <a href='@Url.Action("Delete", new {id = m.Id})' onclick="ModalBtnClick(this, event);" title="Удалить тип метрики">
                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                    </a>
                 </text>)
            .Encoded(false)
            .Sanitized(false)
            .Css("text-center")
            .SetWidth(30);
    }

}).Sortable().Filterable(false).Selectable(false).WithPaging(20)

@section Scripts
{
    @Scripts.Render("~/Scripts/GridMvc")
    @Scripts.Render("~/Scripts/AllControls")
}