@using Zidium.UserAccount.Helpers
@model Zidium.UserAccount.Models.EventTypeLastEventModel

<p>
    <span class="simple-text-value"><b>@Model.Message</b></span>
</p>

<p>
    <span class="simple-text-header">Случилось:</span>
    <span class="simple-text-value">
        <a href="@Url.Action("Show", "Events", new { id = Model.Id })">@GuiHelper.GetDateTimeString(Model.EndDate)</a>
    </span>
</p>

<p>
    <span class="simple-text-header">Компонент: </span>
    <span class="simple-text-value">@Html.ComponentLink(Model.Component)</span>
</p>

@if (Model.Unittest != null)
{
    <p>
        <span class="simple-text-header">Проверка: </span>
        <span class="simple-text-value">@Html.UnitTestLink(Model.Unittest)</span>
    </p>
}

@if (Model.Metric != null)
{
    <p>
        <span class="simple-text-header">Метрика: </span>
        <span class="simple-text-value">@Html.MetricLink(Model.Metric)</span>
    </p>
}

@if (Model.Properties.Rows.Count > 0)
{
    <p>
        <span class="simple-text-header">Дополнительные свойства:</span>
    </p>
    @Html.ExtentionPropertiesTable(Model.Properties)
}
