@using Zidium.Core.AccountsDb
@using Zidium.Core.Common.Helpers
@using Zidium.UserAccount.Helpers
@using Zidium.UserAccount.Models.Subscriptions
@model SubscriptionListModel

@{
    ViewBag.Title = "Подписки";
    ViewBag.ActiveMenuItems = "Manage,Subscriptions";

    // таблицы подписок
    var defaultSubscriptions = Model.GetTable(SubscriptionObject.Default);
    var componentTypeSubscriptions = Model.GetTable(SubscriptionObject.ComponentType);
    var componentSubscriptions = Model.GetTable(SubscriptionObject.Component);
}

<style>

    #filters #filter-user {
        min-width: 400px;
    }

    .simpleTableClear td, .simpleTableClear th {
        padding: 5px 20px
    }
    .subscription-badge {
        height: 20px;
        min-width: 20px;
        width: auto;
        border-radius: 10px;
        display: inline-block;
        padding: 0 10px;
        color: white;
        text-align: center;
        white-space: nowrap;
    }

    .table-name {
        margin-top: 30px;
        font-weight: bold !important;
    }

    .add-btn {
        margin-bottom: 10px;
    }
</style>

@Html.Partial("_PageTitle")

<div class="smart-container" id="filters">
    <div class="smart-row">
        
        <div class="smart-col-labels" style="min-width: 50px;">
            @Html.Label("Пользователь")
        </div>
        <div class="smart-col-fields smart-col-filter">
            <div class="smart-subcol" id="filter-user">
                @Html.UserSelector("userId", Model.UserId, false, true)
            </div>
        </div>

        <div class="smart-col-fields smart-col-empty"></div>
    </div>
</div>

@*<hr/>*@
<div class="subscription-type-container">
    <p class="h4 table-name">Подписка по умолчанию</p>
    @Html.Partial("SubscriptionsTable", defaultSubscriptions)
    <br/>
</div>

<div class="subscription-type-container">
    <p class="h4 table-name">Подписки на тип компонента</p>
    <a href="#" 
       data-url="@Url.Action("Add", new{@object = SubscriptionObject.ComponentType, userId = Model.UserId})" 
       data-title="@SubscriptionObjectHelper.GetAddTitle(SubscriptionObject.ComponentType)"
       class="btn btn-default add-btn _showDialogBtn">Добавить подписку</a>
    <br />
    @Html.Partial("SubscriptionsTable", componentTypeSubscriptions)
    <br />
</div>
    

<div class="subscription-type-container">
    <p class="h4 table-name">Подписки на компонент</p>
    <a href="#" 
       data-url="@Url.Action("Add", new{@object = SubscriptionObject.Component, userId = Model.UserId})" 
       data-title="@SubscriptionObjectHelper.GetAddTitle(SubscriptionObject.Component)"
       class="btn btn-default add-btn _showDialogBtn">Добавить подписку</a>
    <br />
    @Html.Partial("SubscriptionsTable", componentSubscriptions)
</div>


@section Scripts
{
    @Scripts.Render("~/Scripts/AllControls")
}

<script>
    $(function () {
        $("._showDialogBtn").on("click", function (event) {
            event.preventDefault();
            var btn = $(this);
            var url = btn.data("url");
            var title = btn.data("title");
            var action = function () {
                var container = btn.closest(".subscription-type-container");
                smartBlocks.showWaitDiv(container);
                ziReloadPage();
            }
            dialogs.showModal(url, title, action, null, true);
        });
    });
</script>

