@using Zidium.Core.AccountsDb
@using Zidium.UserAccount.Helpers
@model Zidium.UserAccount.Models.Subscriptions.SubscriptionsTableModel

@if (Model.Rows.Length == 0)
{
    <p>нет подписок</p>
}
else
{
    <table class="simpleTableClear">
        <tr>
            <th style="min-width: 200px">@Model.SubscriptionName</th>
            @foreach (var channel in Model.Channels)
            {
                <th style="width: 100px; text-align: center">@channel</th>
            }
        </tr>

        @foreach (var row in Model.Rows)
        {
            var first = row.GetFirstNotNull();
            <tr>
                <td>
                    @if (first.Object == SubscriptionObject.Default)
                    {
                        <span>Подписка по умолчанию</span>
                    }
                    else if (first.Object == SubscriptionObject.ComponentType)
                    {
                        <span>@first.ComponentType.DisplayName</span>
                    }
                    else if (first.Object == SubscriptionObject.Component)
                    {
                        <text>
                            @Html.ComponentPath(first.Component)
                        </text>
                    }
                </td>
                @foreach (var cell in row.Cells)
                {
                    <td style="text-align: center">
                        @Html.Partial("ShowSubscriptionCell", cell)
                    </td>
                }
            </tr>
        }
    </table>
}

