@using Zidium.UserAccount.Helpers
@model Zidium.UserAccount.Models.PingChecksModels.EditModel

@{
    ViewBag.Title = Model.Id.HasValue ? "Настройка проверки ping" : "Добавление проверки ping";
}

@Html.Partial("_PageTitle")

<form class="form-horizontal" method="POST" id="myForm">
    @Html.Partial("~/Views/Checks/EditCheckCommonSettings.cshtml", Model)
    <hr/>
    <br/>
    <div class="form-group">
        @Html.RequiredLabelFor(x => x.Host, null, "col-sm-3")
        <div class="col-sm-6">
            @Html.TextBoxFor(x => x.Host, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.RequiredLabelFor(x => x.TimeoutMs, null, "col-sm-3")
        <div class="col-sm-3">
            @Html.TextBoxFor(x => x.TimeoutMs, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <div class="btn-group ">
                <button value="Сохранить" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</form>
