@model Zidium.UserAccount.Models.PingChecksModels.EditModel

@{
    ViewBag.Title = "Просмотр проверки ping";
}

<style>
    .smart-col-labels {
        min-width: 220px;
    }
</style>

<p class="submenu-title">@ViewBag.Title</p>

<div class="zi-bread-crumbs">
    @Html.Partial("~/Views/Controls/UnitTestBreadCrumbs.cshtml", Model.UnitTest)
</div>

<hr class="submenu" />

<div class="smart-container">
    @Html.Partial("~/Views/Checks/ShowCheckCommonSettings.cshtml", Model)
    
    @Html.DisplayFor(m => m.Host, "SmartDisplay")
    @Html.DisplayFor(m => m.TimeoutMs, "SmartDisplay")
</div>
