@model bool

@{
    bool noGroup = ViewData.ContainsKey("NoGroup");
    bool horizontalForm = ViewData.ContainsKey("HorizontalForm");
}

@if (!noGroup)
{
    @Html.Raw(@"<div class='form-group'>")
}

<div class='@(horizontalForm ? "col-sm-4 col-sm-offset-2" : string.Empty)'>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m)
            @Html.DisplayNameFor(m => m)
        </label>
    </div>
</div>

<div class='@(horizontalForm ? "col-sm-6" : string.Empty)'>
    <p class="form-control-static">@Html.ValidationMessageFor(m => m)</p>
</div>

@if (!noGroup)
{
    @Html.Raw(@"</div>")
}