@model object
@{
    var type = ViewData.ModelMetadata.DataTypeName;
    bool required = ViewData.ModelMetadata.IsRequired;
    string fieldName = ViewData.ModelMetadata.PropertyName;
    string displayName = ViewData.ModelMetadata.DisplayName;
}
<div class="form-group">
    @if (required)
    {
        <label for="@fieldName" class="col-md-3 control-label">@displayName<span style="color: red;">&nbsp;*</span></label>
    }
    else
    {
        <label for="@fieldName" class="col-md-3 control-label">@displayName<span style="color: red;">&nbsp;&nbsp;</span></label>
    }
    <div class="col-md-4">
        @if (string.IsNullOrEmpty(type))
        {
            @Html.TextBoxFor(m => m, new {@class = "form-control"})
        }
        else if (type =="Password")
        {
            @Html.PasswordFor(m => m, new {@class = "form-control"})
        }
    </div>
    <div class="col-md-5">
        <p class="form-control-static">@Html.ValidationMessageFor(m => m)</p>
    </div>
</div>