@using Zidium.UserAccount.Models.Examples.Smart
@model Zidium.UserAccount.Models.Examples.Smart.Example2FiltersModel

@{
    ViewBag.Title = "Smart blocks - Фильтры через скрипт";
}

<style>
    #partial {
        background-color: azure;
        border: 1px solid lightblue;
        border-radius: 4px;
        padding: 10px;
        width: 500px;
    }

    #form {
        border: 1px solid lightgray;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
        width: 500px;
    }
</style>

<h1>@ViewBag.Title</h1>

<p>
    Пример, в котором заполняются фильтры (без формы), в скрипте собираются данные, делается Ajax-запрос  и выводится содержимое.
</p>
<p>
    Перед началом выполнения вызывается событие onBegin, в котором можно исправить адресную строку с учётом введённых фильтров.
</p>
<p>
    Если возникла любая ошибка (Name == 2), то сработает событие onError.
</p>
<p>
    Белая область &mdash; div с фильтрами.<br />
    Синяя область &mdash; контейнер c результатами.<br />
    При выполнении запроса обновляется только контейнер.
</p>

<div id="form">
    @Html.LabelFor(m => m.Name)
    <p>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </p>
    <p>
        @Html.ValidationMessageFor(m => m.Name)
    </p>
    <p>
        <button type="button" class="btn btn-default" id="button-filter">Filter</button>
    </p>
</div>

<div class="smart-block" id="partial" data-smart-block-begin="onBegin" data-smart-block-on-error="onError">
    @Html.Partial("Example2Partial", new Example2PartialModel())
</div>

<script>
    $(function () {
        $('#button-filter').click(function () {
            var name = $('#@Html.IdFor(m => m.Name)').val();
            var data = { name: name };
            var url = '@Url.Action("Example2Partial")';
            var button = $(this);
            smartButtons.beginAction(button);
            smartBlocks.doSubmit(url, data, $('#partial'), function() {
                smartButtons.endAction(button);
            });
        });
    });

    function onBegin(params) {
        var url = '@Url.Action("Example3")?' + params;
        window.history.pushState(null, window.document.title, url);
    }

    function onError(message) {
        dialogs.error("Error: " + message);
    }
</script>
