@model Zidium.UserAccount.Models.VirusTotal.EditSimpleModel

@{
    ViewBag.Title = (Model.Id.HasValue ? "Настройка" : "Добавление") + " проверки VirusTotal";
    ViewBag.ActiveMenuItems = "UnitTests";
    var isSmartBlocks = HttpContext.Current.Request.IsSmartBlocksRequest();
    if (isSmartBlocks)
    {
        Layout = null;
    }
}

<link href="~/Content/Checks/tcp-port-check-simple.css" rel="stylesheet" />

@if (!isSmartBlocks)
{
    @Html.Partial("_PageTitle")
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" + (isSmartBlocks ? " smart-block-form" : "") }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ComponentId)

    <div class="row">
        <div class="table-cell-sm table-cell-full">
            <div class="smart-container">

                @if (Model.Id.HasValue)
                {
                    <div class="smart-row">
                        <div class="smart-col-labels smart-col-empty"></div>
                        <div class="smart-col-fields">
                            <div>
                                @Html.ActionLink("Результат проверки", "ResultDetails", "UnitTests", new { id = Model.Id }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
                }

                @Html.EditorFor(m => m.Url, "SmartEdit", new { HorizontalForm = true })
                @Html.EditorFor(m => m.ApiKey, "SmartEdit", new { HorizontalForm = true })
                @Html.EditorFor(m => m.Period, "SmartEdit", new { HorizontalForm = true })

                <div class="smart-row">
                    <div class="smart-col-labels smart-col-empty"></div>
                    <div class="smart-col-fields">
                        <a href='@(Model.CommonWebsiteUrl + "/wiki/how-to/unittests/system-unittests/virus-total")' target="_blank">
                            Как получить ApiKey?
                        </a>
                    </div>
                </div>

                @if (!isSmartBlocks)
                {
                    <div class="smart-row">
                        <div class="smart-col-labels smart-col-empty"></div>
                        <div class="smart-col-fields">
                            <div>
                                <input type="submit" value='@(Model.Id.HasValue ? "Сохранить" : "Добавить")' class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        @if (!isSmartBlocks)
        {
            <div class="table-cell-sm">
                @Html.ActionLink("Расширенные настройки", "Edit", null, new { id = Model.Id }, new { @class = "btn btn-default" })
            </div>
        }
        else
        {
            <div style="display: table-cell; padding-left: 1px"></div>
        }
    </div>

    if (isSmartBlocks)
    {
        <hr />
        <div class="text-center">
            <button type="submit" class="btn btn-primary smart-button smart-block-button" data-smart-button-loader="blue">
                @(Model.Id.HasValue ? "Сохранить" : "Добавить")
            </button>
            <button type="button" class="btn btn-default smart-button" data-dismiss="modal">
                Отмена
            </button>
        </div>
    }
}
