@using Zidium.UserAccount.Helpers
@using Zidium.UserAccount.Models

@model LogonModel

@{
    ViewBag.Title = "Вход";
}

<style>
    .smart-col-fields > div.smart-subcol {
        max-width: 300px;
    }
</style>

@Html.Partial("_PageTitle")

@using (Html.BeginForm("Logon", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ReturnUrl)

    <div class="smart-container">

        @if (Model.ErrorMessage != null)
        {
            <div class="smart-row">
                <div class="smart-col-labels smart-col-empty"></div>
                <div class="smart-col-fields">
                    @Model.ErrorMessage
                </div>
            </div>
        }

        @*@if (DebugHelper.IsDebugMode)
        {
            <div class="smart-row">
                <div class="smart-col-labels smart-col-empty"></div>
                <div class="smart-col-fields">
                    <div style="color: gray; margin-top: 20px;">admin@zidium.net root</div>
                </div>
            </div>
        }*@

        <div class="smart-row">
            <div class="smart-col-labels smart-col-empty"></div>
            <div class="smart-col-fields">
                @Html.MyValidationSummary(true)
            </div>
        </div>

        @*@if (HttpContext.Current.Request.Url.Scheme == "http")
        {
            var uriBuilder = new UriBuilder(HttpContext.Current.Request.Url)
            {
                Scheme = Uri.UriSchemeHttps,
                Port = -1 // default port for scheme
            };
            <div class="smart-row">
                <div class="smart-col-labels smart-col-empty"></div>
                <div class="smart-col-fields">
                    <a href="@uriBuilder.Uri.AbsoluteUri" class="text-success">
                        Использовать безопасное соединение (https)
                    </a>
                </div>
            </div>
        }*@


        @Html.EditorFor(x => x.UserName, "SmartEdit")
        @Html.EditorFor(x => x.Password, "SmartEdit")

        <div class="smart-row">
            <div class="smart-col-labels smart-col-empty"></div>
            <div class="smart-col-fields">
                <a href='@Url.Action("LostPassword", "Home")' id="link-lost-password">Забыли пароль?</a>
            </div>
        </div>

        <div class="smart-row">
            <div class="smart-col-labels smart-col-empty"></div>
            <div class="smart-col-fields">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
        </div>

        <div class="smart-row">
            <div class="smart-col-labels smart-col-empty"></div>
            <div class="smart-col-fields">
                <input type="submit" value="Войти" class="btn btn-primary smart-button" />
            </div>
        </div>

    </div>
}