@using Zidium.UserAccount.Helpers
@model Zidium.UserAccount.Models.Defects.EditDefectModel

@{
    ViewBag.Title = "Редактирование дефекта " + Model.DefectCode;
    ViewBag.ActiveMenuItems = "Defects";
}
<style>
    #statusComment {
        min-height: 50px;
    }
     #notes {
         min-height: 100px;
     }
</style>

@Html.Partial("_PageTitle")

<form method="post" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-3">Название</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(x=>x.Title, new {@class = "form-control"})
        </div>
        <div class="col-sm-4 form-control-static">@Html.ValidationMessageFor(x=>x.Title)</div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">Ответственный</label>
        <div class="col-sm-5">
            @Html.DropDownList("UserId", DropDownListHelper.GetUsers(Model.UserId, false), new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">Заметки к дефекту</label>
        <div class="col-sm-5">
            <textarea class="form-control" id="notes" name="notes">@Model.Notes</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
            <input type="submit" value="Применить" class="btn btn-primary"/>
            <a href="@Url.Action("Show", new {id = Model.Id})" class="btn btn-default">Отмена</a>
        </div>
    </div>
</form>
