@using Zidium.UserAccount.Helpers
@using Zidium.UserAccount.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <title>@(ViewBag.Title + " - Zidium")</title>

    @Styles.Render("~/Content/CommonCss")
    @RenderSection("Styles", required: false)

    @Html.Partial("_Styles")

    @Scripts.Render("~/Scripts/CommonScripts")
    @RenderSection("Scripts", required: false)

</head>

<body>
    @Html.Partial("_JavaScriptCheck")
    <div class="javascript-required">

        <div id="@(ViewBag.UseFixedHeader != null ? "fixed-header": null)">
            <div id="topLogoRow">
                <a id="zidiumLogoName" href='http://zidium.net'>Zidium</a>
                <div class="pull-right" id="topLogoRowRight">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

            @{ var lastOverLimitDate = FullRequestContext.Current != null && FullRequestContext.Current.CurrentAccount != null ? FullRequestContext.Current.CurrentAccount.LastOverLimitDate : null; }
            @if (lastOverLimitDate.HasValue)
            {
                <div class="alert alert-warning" style="margin: 0px; padding-top: 10px; padding-bottom: 10px;">
                    <span class="glyphicon glyphicon-exclamation-sign text-strongfgyellow" style="font-size: 28px; vertical-align: middle; padding-right: 10px;"></span>
                    <a href='@Url.Action("Index", "Limits")' style="color: #66512c; vertical-align: middle;">
                        Обратите внимание! Лимиты вашего аккаунта <b>превышены</b>, начиная с <b>@GuiHelper.GetDateTimeString(lastOverLimitDate.Value)</b>!
                    </a>
                </div>
            }

            <div class="navbar navbar-default">
                @Html.Partial("_Menu")
            </div>
             
            <div class="container-fluid">
                @RenderSection("Header", false)
            </div>
        </div>

        <div class="container-fluid body-content">
            @Html.Partial("_TempMessage")
            @Html.Partial("~/Views/Errors/ErrorPartial.cshtml")
            @RenderBody()
            <hr style="margin-top: 30px;" />
            
            <footer>
                <table style="width: 100%; margin-bottom: 40px;">
                    <tr>
                        <td style="width: 50%; text-align: left;">
                            <p>Система мониторинга Zidium, @DateTime.Now.Year</p>
                        </td>
                        <td style="width: 50%; text-align: right;">
                            <p>
                                <a href="mailto:info@zidium.net">info@zidium.net</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </footer>
            
            @Html.Action("FooterPartial", "AddIn")
        </div>
    </div>

</body>
</html>
