@using Zidium.UserAccount.Models.Dialogs
@{
    var layoutModel = SimpleModalDialogLayoutModel.Get(this);
}
<div class="modal" id="ModalDlg" tabindex="-1" role="dialog" aria-labelledby="ModalDlgLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog @(layoutModel.Large ? "modal-lg" : string.Empty)">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalDlgLabel">@layoutModel.Title</h4>
            </div>
            <div class="modal-body" id="ModalDlgBody">
                <div id="zi-simple-dialog-body">
                    @RenderBody()
                </div>
                <div class="alert alert-danger" id="zi-simple-dialog-alert" style="display: none">
                    ошибка ошибка ошибка
                </div>
                <div class="row" style="text-align: right">
                    <div class="col-sm-12">
                        <a id="zi-simple-dialog-submit" href="@layoutModel.SubmitUrl" class="btn btn-primary">@layoutModel.SubmitBtnName</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
        @if (layoutModel.EnableUnobtrusiveValidation)
        {
            <script type="text/javascript">
                function ReValidate() {
                    var form = $("form", $('#ModalDlg'));
                    form.removeData('validator');
                    form.removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse(form);
                }

                // Чтобы работала unobtrusive validation после загрузки диалога через  ajax
                ReValidate();
            </script>
        }
        <script>
            function onSimleDialogSubmitError(errorMessage) {

                // показываем ошибку
                var alert = $("#zi-simple-dialog-alert");
                alert.text(errorMessage);
                alert.show();

                // прячем основной диалог
                $("#zi-simple-dialog-body").hide();
            }

            ziSetAjaxLink("#zi-simple-dialog-submit", null, onSimleDialogSubmitError);
        </script>
    </div>
</div>