@using Zidium.UserAccount.Helpers

@model Zidium.UserAccount.Models.UnitTestAddModel

@{
    ViewBag.Title = "Добавление пользовательской проверки";
    ViewBag.ActiveMenuItems = "UnitTests";
    var isSmartBlocks = HttpContext.Current.Request.IsSmartBlocksRequest();
    if (isSmartBlocks)
    {
        Layout = null;
    }
}

<style>
    .smart-col-labels {
        min-width: 110px;
    }
</style>

@if (!isSmartBlocks)
{
    @Html.Partial("_PageTitle")
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" + (isSmartBlocks ? " smart-block-form" : "") }))
{
    @Html.AntiForgeryToken()
    @Html.MyValidationSummaryVertical()

    <div class="smart-container">
        @Html.EditorFor(m => m.DisplayName, "SmartEdit", new { HorizontalForm = true })
        @Html.EditorFor(m => m.UnitTestTypeId, "SmartEdit", new { HorizontalForm = true })

        @if (!isSmartBlocks)
        {
            @Html.EditorFor(m => m.ComponentId, "SmartEdit", new { HorizontalForm = true })
        }
        else
        {
            @Html.HiddenFor(m => m.ComponentId)
        }

        @if (!isSmartBlocks)
        {
            <div class="smart-row">
                <div class="smart-col-labels smart-col-empty"></div>
                <div class="smart-col-fields">
                    <div>
                        <input type="submit" value="Добавить" class="btn btn-primary" />
                        @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }
    </div>

    if (isSmartBlocks)
    {
        <hr />
        <div class="text-center">
            <button type="submit" class="btn btn-primary smart-button smart-block-button" data-smart-button-loader="blue">
                Добавить
            </button>
            <button type="button" class="btn btn-default smart-button" data-dismiss="modal">
                Отмена
            </button>
        </div>
    }
}  

@Scripts.Render("~/Scripts/AllControls")
