@using Zidium.Core.Common.Helpers
@using Zidium.Api.Dto
@using Zidium.UserAccount.Helpers
@using Zidium.UserAccount.Models.UnitTests

@model ShowStatusesModel

<div>
    <style>
        #last-statuses-caption {
            margin-right: 15px;
            display: inline-block;
        }

        #table-statuses {
            width: auto;
            margin-top: 10px;
        }

        #table-statuses .status-duration {
            color: #999;
            font-size: 10px;
        }

        #table-statuses .status-count {
            color: #999;
            font-size: 10px;
        }
    </style>

    @if (Model.Statuses.Length > 0)
    {
        <p class="pageHeader1" id="last-statuses-caption">Последние @Model.MaxCount статусов</p>
        <a href="@Url.Action("Index", "Events", new {category = EventCategory.UnitTestStatus, unitTestId = Model.UnitTestId})" class="btn btn-default">Все статусы</a>

        <table class="table simpleTableClear" id="table-statuses">
            <thead>
            <tr>
                <th class="column-date">Начало</th>
                <th class="column-date">Окончание</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var status in Model.Statuses)
            {
                var color = GuiHelper.GetStrongFgColor(status.Importance);
                <tr style="color: @color">
                    <td>
                        @DateTimeHelper.GetRussianDateTime(status.Date)
                        <br/>
                        <span class="status-duration">@GuiHelper.TimeSpanAs2UnitString(status.Duration)</span>
                    </td>
                    <td>
                        @DateTimeHelper.GetRussianDateTime(status.EndDate)
                        <br/>
                        <span class="status-count">
                            @status.Count раз
                        </span>
                    </td>
                    <td>
                        <a title="@status.Message" href="@Url.Action("Show", "Events", new {id = status.Id})">@status.Message</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>Нет истории выполнения</p>
    }
</div>