@using Zidium.Core.AccountsDb
@using Zidium.UserAccount.Helpers
@using Zidium.UserAccount.Models.UnitTests

@model ShowSettingsModel

@{
    string periodText = GuiHelper.TimeSpanAsString(Model.Period);
}

<div class="row tiles-row">
    <div class="col-md-4 tiles-column">

        <div class="tiles-box" style="display: flex; flex-direction:column;">
            <div style="flex: 1 0 auto;">
                <div class="tiles-box-header1">Общие настройки</div>
                <div class="tiles-box-content">
                    @*<p>
                            <span class="simple-text-header">ID</span>
                            <br />
                            <span class="simple-text-value">@Model.Id</span>
                        </p>*@
                    <p>
                        <span class="simple-text-header">Дружелюбное название</span>
                        <br />
                        <span class="simple-text-value">@Model.DisplayName</span>
                    </p>
                    <p>
                        <span class="simple-text-header">Системное название</span>
                        <br />
                        <span class="simple-text-value">@Model.SystemName</span>
                    </p>
                    @if (Model.IsSystem)
                    {
                        <p>
                            <span class="simple-text-header">Период проверки</span>
                            <br />
                            <span class="simple-text-value">@periodText</span>
                        </p>
                        <p>
                            <span class="simple-text-header">Цвет проверки при ошибке</span>
                            <br />
                            @Html.ObjectColorIcon(Model.OnErrorColor)
                        </p>
                    }
                    <div style="margin-top: 30px;">
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="@Url.Action("Edit", "Checks", new { id = Model.Id })" class="btn btn-default">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true" style="margin-right: 10px;"></span>Изменить
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @if (Model.TypeId == SystemUnitTestType.HttpUnitTestType.Id)
    {
        <text>@Html.Action("ShowSettingsHttp", new { id = Model.Id })</text>
    }
    else if (Model.TypeId == SystemUnitTestType.PingTestType.Id)
    {
        <text>@Html.Action("ShowSettingsPing", new { id = Model.Id })</text>
    }
    else if (Model.TypeId == SystemUnitTestType.TcpPortTestType.Id)
    {
        <text>@Html.Action("ShowSettingsTcpPort", new { id = Model.Id })</text>
    }
    else if (Model.TypeId == SystemUnitTestType.DomainNameTestType.Id)
    {
        <text>@Html.Action("ShowSettingsDomain", new { id = Model.Id })</text>
    }
    else if (Model.TypeId == SystemUnitTestType.SslTestType.Id)
    {
        <text>@Html.Action("ShowSettingsSsl", new { id = Model.Id })</text>
    }
    else if (Model.TypeId == SystemUnitTestType.SqlTestType.Id)
    {
        <text>@Html.Action("ShowSettingsSql", new { id = Model.Id })</text>
    }
    else if (Model.TypeId == SystemUnitTestType.VirusTotalTestType.Id)
    {
        <text>@Html.Action("ShowSettingsVirusTotal", new { id = Model.Id })</text>
    }
    else
    {
        <text>@Html.Action("ShowSettingsCustom", new { id = Model.Id })</text>
    }
</div>
