@using Zidium.Core.AccountsDb
@using Zidium.Core.Api
@using Zidium.Core.Common.Helpers
@using Zidium.UserAccount.Helpers
@using Zidium.UserAccount.Models
@using Zidium.UserAccount.Models.UnitTests
@using Zidium.UserAccount.Models.Controls;
@model ShowSettingsHttpModel
@{
    string timeoutText = GuiHelper.TimeSpanAsString(Model.Timeout);
}

<div class="col-md-4 tiles-column">
    <div class="tiles-box" style="display: flex; flex-direction:column;">
        <div style="flex: 1 0 auto;">
            <div class="tiles-box-header1">Настройки запроса</div>
            <div class="tiles-box-content">
                <p>
                    <span class="simple-text-header">URL</span>
                    <br />
                    <span class="simple-text-value">@Model.Url</span>
                </p>
                <p>
                    <span class="simple-text-header">Метод</span>
                    <br />
                    <span class="simple-text-value">@Model.Method</span>
                </p>
                <p>
                    <span class="simple-text-header">Таймаут</span>
                    <br />
                    <span class="simple-text-value">@timeoutText</span>
                </p>
                @if (Model.Body != null)
                {
                    <p>
                        <span class="simple-text-header">Тело запроса</span>
                        <br />
                        <span class="simple-text-value">@Model.Body</span>
                    </p>
                }
                @if (Model.RequestHeaders.Count > 0)
                {
                    <div>
                        <p class="simple-text-header">Заголовки</p>
                        @Html.ShowKeyValueTable(x => x.RequestHeaders)
                    </div>
                }
                @if (Model.WebFormDatas.Count > 0)
                {
                    <div>
                        <p class="simple-text-header">Данные веб-формы</p>
                        @Html.ShowKeyValueTable(x => x.WebFormDatas)
                    </div>
                }
                @if (Model.RequestCookies.Count > 0)
                {
                    <div>
                        <p class="simple-text-header">Cookies</p>
                        @Html.ShowKeyValueTable(x => x.RequestCookies)
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="col-md-4 tiles-column">
    <div class="tiles-box" style="display: flex; flex-direction:column;">
        <div style="flex: 1 0 auto;">
            <div class="tiles-box-header1">Настройки ответа</div>
            <div class="tiles-box-content">
                <p>
                    <span class="simple-text-header">Код ответа</span>
                    <br />
                    <span class="simple-text-value">@Model.ResponseCode</span>
                </p>
                <p>
                    <span class="simple-text-header">Ожидаемый фрагмент ответа</span>
                    <br />
                    <span class="simple-text-value">@(Model.SuccessFragment ?? "не задан")</span>
                </p>
                <p>
                    <span class="simple-text-header">Недопустимый фрагмент ответа</span>
                    <br />
                    <span class="simple-text-value">@(Model.ErrorFragment ?? "не задан")</span>
                </p>
            </div>
        </div>
    </div>
</div>