@{
    ViewBag.Title = "Примеры использования GUI";
}

<p class="submenu-title">@ViewBag.Title</p>
<br />

<p>@Html.ActionLink("Tiles", "Tiles")</p>
<p>@Html.ActionLink("ReloadedTiles", "ReloadedTiles")</p>

<p>@Html.ActionLink("Smart blocks - Ajax-форма", "Example1", "SmartExamples")</p>
<p>@Html.ActionLink("Smart blocks - фильтры через форму", "Example2", "SmartExamples")</p>
<p>@Html.ActionLink("Smart blocks - фильтры через скрипт", "Example3", "SmartExamples")</p>
<p>@Html.ActionLink("Smart blocks - Ajax-запрос", "Example4", "SmartExamples")</p>