@using Zidium.UserAccount.Helpers
@using Zidium.UserAccount.Models.Controls
@model Zidium.UserAccount.Models.ComponentAddModel

@{
    ViewBag.Title = "Добавление компонента";
    ViewBag.ActiveMenuItems = "Components";
    var isSmartBlocks = HttpContext.Current.Request.IsSmartBlocksRequest();
    if (isSmartBlocks)
    {
        Layout = null;
    }
}

<style>
    #form-add-component .smart-col-labels {
        min-width: 150px;
    }
    #showFullPeoprtiesBtn {
        white-space: nowrap;
        font-size: 12px;
    }
</style>

@if (!isSmartBlocks)
{
    @Html.Partial("_PageTitle")
}

@using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form-horizontal" + (isSmartBlocks ? " smart-block-form" : ""), id = "form-add-component"}))
{
    @Html.MyValidationSummary(true)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m=>m.CanEditParentId)

    <div class="smart-container">
        @{
            var form = Html.GetFormBuilder(Model);
        }
                                                         
        @form.GroupFor(m => m.DisplayName).TextBox().Partial()
        @form.GroupFor(m => m.ComponentTypeId).Control(t => Html.ComponentTypeSelector(Html.NameFor(m => m.ComponentTypeId).ToString(), Model.ComponentTypeId, false, false)).Partial()
       
        @form.Group("").Control(
            @<text>
                <div class="pull-right2">
                    <a href="#" id="showFullPeoprtiesBtn" style="color: gray">Дополнительные настройки</a>
                </div>
             </text>).Partial()
        
        @form.GroupFor(m => m.SystemName).AddGroupCss("ext-component-property").TextBox().Partial()
        @form.GroupFor(m => m.ParentId).AddGroupCss("ext-component-property").Control(t => Html.ComponentSelectorNew(m => m.ParentId, new ComponentSelectorOptions()
        {
            ShowAsList = false,
            ShowComponentStatusSelector = false,
            AllowEmpty = false,
            AutoRefreshPage = false
        })).Partial()
        
        @form.GroupFor(m => m.Version).AddGroupCss("ext-component-property").TextBox().Partial()

        @if (!isSmartBlocks)
        {
            @form.Group("Submit").Control(@<text>
                                              <input type="submit" value="Добавить" class="btn btn-primary"/>
                                              @Html.ActionLink("Вернуться к списку", "List", "Components", null, new {@class = "btn btn-default"})
                                           </text>).Partial()
        }
    </div>

    if (isSmartBlocks)
    {
        <hr/>
        <div class="text-right top10px">
            <button type="submit" class="btn btn-primary smart-button smart-block-button" data-smart-button-loader="blue">Добавить</button>
            <button type="button" class="btn btn-default smart-button" data-dismiss="modal">Отмена</button>
        </div>
    }
}

<script>
    var isFullPropertieOpened = false;

    function showFullComponentProperties() {
        isFullPropertieOpened = true;
        $("#form-add-component .ext-component-property").show();
    }

    function hideFullComponentProperties() {
        isFullPropertieOpened = false;
        $("#form-add-component .ext-component-property").hide();
    }

    $("#showFullPeoprtiesBtn").click(function(event) {
        event.preventDefault();
        if (isFullPropertieOpened)
            hideFullComponentProperties();
        else
            showFullComponentProperties();
    });

    hideFullComponentProperties();
</script>

@if (!isSmartBlocks)
{
    <text>@Scripts.Render("~/Scripts/AllControls")</text>
}

