@model Zidium.UserAccount.Models.ComponentPropertyEditModel

@if (Model.ModalMode)
{
    Layout = "~/Views/Shared/_ModalDlgLayout.cshtml";
}

@{
    ViewBag.Title = "Добавление свойства компонента";
    ViewBag.ActiveMenuItems = "Components";
}

@if (!Model.ModalMode)
{
    @Html.Partial("_PageTitle")
}

@if (Model.ModalMode)
{
    Html.BeginForm(null, null, FormMethod.Post, new { data_ajax = "true", data_ajax_method = "post", data_ajax_mode = "before", data_ajax_update = "#propertiestablebody", data_ajax_success = "HideModal" });
}
else
{
    Html.BeginForm();
}

@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.ModalMode)
@Html.HiddenFor(model => model.ReturnUrl)

@Html.EditorFor(m => m.Name, "LabeledEdit")
@Html.EditorFor(m => m.Value, "LabeledEdit")
@Html.EditorFor(m => m.DataType, "LabeledEdit")

<div class="row" style="text-align: @(Model.ModalMode ? "right" : "left")">
    <div class="col-sm-12">
        <input type="submit" value="Добавить" class="btn btn-primary" />
        &nbsp;
        @if (!Model.ModalMode)
        {
            <a class="btn btn-default" href="@Model.ReturnUrl">Отмена</a>
        }
        else
        {
            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        }
    </div>
</div>

@{Html.EndForm();}