@using Zidium.Core.Api
@using GridMvc.Html
@using GridMvc.Sorting
@using Zidium.UserAccount.Helpers
@using Zidium.UserAccount.Models
@using Zidium.UserAccount.Models.Controls
@model ComponentsListModel

@{
    ViewBag.Title = "Список компонентов";
    ViewBag.ActiveMenuItems = "Components,ComponentsList";
}

@section Styles
{
    @Styles.Render("~/Content/GridMvc")
}

@Html.Partial("_PageTitle")

@if (UserHelper.CurrentUser.CanEditCommonData())
{
    <div style="margin-bottom: 20px;">
        <a href='@Url.Action("Add")' class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Создать новый компонент
        </a>
    </div>
}

<div class="row">
    <div class="col-sm-6 bottom10px">
        @Html.LabelFor(m => m.ComponentTypeId, "Тип")
        @Html.ComponentTypeSelector("ComponentTypeId", Model.ComponentTypeId, true, true)
    </div>
    <div class="col-sm-3 bottom10px">
        @Html.LabelFor(m => m.Color, "Статус")
        @Html.ColorStatusSelector(x => x.Color)
    </div>
</div>

<div class="row">
    <div class="col-sm-6 bottom10px">
        @Html.LabelFor(m => m.Search, "Поиск по названию или Id")
        @Html.TextFilter("Search", "Введите часть названия или Id", Model.Search, true)
    </div>
    <div class="col-sm-6 bottom10px">
        @Html.Label("Родительский компонент", new { @for = "ParentComponentId_Text" })
        @Html.ComponentSelector(x => x.ParentComponentId, new ComponentSelectorOptions()
   {
       AllowEmpty = true,
       AutoRefreshPage = true,
       ShowAsList = false
   })
    </div>
</div>

@Html.Grid(Model.Components).Columns(columns =>
{
    columns.Add().RenderValueAs(m => Html.MonitoringStatusIcon(m.ExternalStatus.Status))
        .Encoded(false).Sanitized(false).Css("text-center");

    columns.Add(m => m.DisplayName).Titled("Дружелюбное имя").RenderValueAs(
        m => Html.ActionLink(m.DisplayName, "Show", new { id = m.Id }, new { @class = GuiHelper.GetComponentStatusTextCssClass(m.ExternalStatus != null ? m.ExternalStatus.Status : MonitoringStatus.Unknown) }))
        .Encoded(false).Sanitized(false).SortInitialDirection(GridSortDirection.Ascending);

    columns.Add(m => m.SystemName).Titled("Системное имя");

    columns.Add(m => m.ComponentType.DisplayName).Titled("Тип компонента").RenderValueAs(
        m => Html.ActionLink(m.ComponentType.DisplayName, "Show", "ComponentTypes", new { id = m.ComponentType.Id.ToString() }, null))
        .Encoded(false).Sanitized(false);

    columns.Add(m => m.Version).Titled("Версия");

    //columns.Add().Titled("Дата статуса").RenderValueAs(m => m.State != null ? m.State.StartDate.ToString("dd.MM.yyyy HH:mm:ss") : null).Css("text-nowrap");

    //columns.Add().Titled("Проект").RenderValueAs(m => m.Project != null ? Html.ActionLink(m.Project.Name, "Show", "Project", new { id = m.ProjectId }, null) : new MvcHtmlString(string.Empty));

    if (UserHelper.CurrentUser.CanEditCommonData())
    {
        columns.Add().Titled(string.Empty).RenderValueAs(m =>
        @<text>
            @if (!m.IsDeleted)
            {
                <a href='@Url.Action("Delete", new {id = m.Id})'
                   onclick="ziShowModalDialogByLink(this, event);"
                   title="Удалить компонент" class="text-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            }
            else
            {
                <span class="glyphicon glyphicon-minus" aria-hidden="true" title="Компонент удалён"></span>
            }
        </text>).Encoded(false).Sanitized(false).Css("text-center");
    }

}).Sortable().Selectable(false).WithPaging(50)

@section Scripts
{
    @Scripts.Render("~/Scripts/GridMvc")
    @Scripts.Render("~/Scripts/AllControls")
}