@using Zidium.UserAccount.Helpers
@using Zidium.UserAccount.Models.Controls
@using Zidium.Core.Common.Helpers
@model Zidium.UserAccount.Models.UnitTestTypeEditModel

@{
    ViewBag.Title = "Добавление типа проверки";
    ViewBag.ActiveMenuItems = "UnitTests,UnitTestTypes";
    string actualTimeDefault = TimeSpanHelper.GetFriendlyText(Model.ActualTimeDefault);
}

@Html.Partial("_PageTitle")

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.MyValidationSummary()

    @Html.EditorFor(m => m.DisplayName, "SmartEdit")
    @Html.EditorFor(m => m.SystemName, "SmartEdit")

    <div class="smart-row">
        <div class="smart-col-labels">
            <label class="control-label" for="ActualTime">Интервал актуальности</label>
        </div>
        <div class="smart-col-fields">
            <div style="width:230px; float: left; margin-right: 20px;">
                @Html.TimeSpanSelector(m => m.ActualTime)
            </div>
            <div style="font-size: 12px; width: 400px; display: inline-block; color: gray; margin-top: 10px;">по умолчанию @actualTimeDefault</div>
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ActualTime, null, null, "p")
        </div>
    </div>

    <div class="smart-row">
        <div class="smart-col-labels">
            <label class="control-label" for="NoSignalColor">Цвет, если нет сигнала</label>
        </div>
        <div class="smart-col-fields">
            <div style="float: left; margin-right: 20px;">
                @Html.ColorStatusSelector(m => m.NoSignalColor, new ColorStatusSelectorOptions() { MultiSelectMode = false, AutoRefreshPage = false })
            </div>
            <div style="font-size: 12px; width: 400px; display: inline-block; color: gray; margin-top: 10px;">по умолчанию @Model.NoSignalColorDefault</div>
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.NoSignalColor, null, null, "p")
        </div>
    </div>

    <div class="smart-row">
        <div class="smart-col-labels smart-col-empty"></div>
        <div class="smart-col-fields">
            <div>
                <input type="submit" value="Сохранить" class="btn btn-primary smart-button" />
                <a href="@Url.Action("Index", "UnitTestTypes")" style="margin-left:20px;">Все типы проверок</a>
            </div>
        </div>
    </div>
}