@model Zidium.UserAccount.Models.DomainNamePaymentPeriodCheckModels.EditSimpleModel

@{
    ViewBag.Title = (Model.Id.HasValue ? "Изменение" : "Добавление") + " проверки оплаты домена";
    ViewBag.ActiveMenuItems = "UnitTests";
}

@section styles {
    <link href="~/Content/Checks/domain-check-simple.css" rel="stylesheet" />
}

@Html.Partial("_PageTitle")

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ComponentId)

    <div class="row">
        <div class="table-cell-sm table-cell-full">
            <div class="smart-container">

                @if (Model.Id.HasValue)
                {
                    <div class="smart-row">
                        <div class="smart-col-labels smart-col-empty"></div>
                        <div class="smart-col-fields">
                            <div>
                                @Html.ActionLink("Результат проверки", "ResultDetails", "UnitTests", new { id = Model.Id }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
                }
                
                <div class="smart-row">
                    <div class="smart-col-labels smart-col-empty"></div>
                    <div class="smart-col-fields">
                        <div>
                            <p class="form-control-static text-muted">
                                Zidium будет проверять дату оплаты домена каждый день.
                                <br />
                                За 30 дней до окончания срока проверка станет жёлтой.
                                <br />
                                За 14 дней проверка станет красной.
                            </p>
                        </div>
                    </div>
                </div>

                @Html.EditorFor(m => m.Domain, "SmartEdit", new { HorizontalForm = true })

                <div class="smart-row">
                    <div class="smart-col-labels smart-col-empty"></div>
                    <div class="smart-col-fields">
                        <div>
                            <input type="submit" value='@(Model.Id.HasValue ? "Сохранить" : "Добавить")' class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-cell-sm">
            @Html.ActionLink("Расширенные настройки", "Edit", null, new { id = Model.Id }, new { @class = "btn btn-default" })
        </div>
    </div>
}
