@using GridMvc.Html
@using GridMvc.Sorting
@using Zidium.UserAccount.Helpers

@model Zidium.UserAccount.Models.ComponentTypesListModel

@{
    ViewBag.Title = "Типы компонентов";
    ViewBag.ActiveMenuItems = "Components,ComponentTypes";
}

@section Styles
{
    @Styles.Render("~/Content/GridMvc")
}

@Html.Partial("_PageTitle")
     
@if (UserHelper.CurrentUser.CanEditCommonData())
{
    <div class="row">
        <div class="col-sm-12 bottom10px">
            @Html.ActionLink("Добавить", "Add", null, new {@class = "btn btn-primary"})
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-12 bottom10px">
        @Html.LabelFor(m => m.Search, "Название или Id")
        @Html.TextFilter("Search", "Введите часть названия или Id", Model.Search, true)
    </div>
</div>

@Html.Grid(Model.ComponentTypes).Columns(columns =>
{
    columns.Add(m => m.DisplayName).Titled("Дружелюбное имя").RenderValueAs(
        m => Html.ActionLink(m.DisplayName, "Show", new { id = m.Id.ToString() }))
        .Encoded(false).Sanitized(false).SortInitialDirection(GridSortDirection.Ascending);
    columns.Add(m => m.SystemName).Titled("Системное имя");
    columns.Add().Titled("Системный?").RenderValueAs(m => m.IsSystem ? "Да" : "Нет").Css("text-center");

    if (UserHelper.CurrentUser.CanEditCommonData())
    {
        columns.Add().Titled(string.Empty).RenderValueAs(m =>
            @<text>
                @if (!m.IsSystem)
                {
                    if (!m.IsDeleted)
                    {
                        <a href='@Url.Action("Delete", new {id = m.Id.ToString()})' onclick="ModalBtnClick(this, event);" title="Удалить тип компонента" class="text-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-minus" aria-hidden="true" title="Тип компонента удалён"></span>
                    }
                }
             </text>).Encoded(false).Sanitized(false).Css("text-center");
    }
}).Selectable(false)

@section Scripts
{
    @Scripts.Render("~/Scripts/GridMvc")
    @Scripts.Render("~/Scripts/AllControls")
}